/.vscode
/YoloR
/runs

data.yaml
*.png
*.ipynb

/anomaly_detection/__pycache__
/anomaly_detection/.vscode

/appTutorial
/APP_TUTORIAL

/DeepLearning_Implementation/__pycache__

/edge_pattern_detection/__pycache__
/ComputerVision_App/__pycache__
/ComputerVision_App/.vscode

/OCR_application/__pycache__
/OCR_application/.vscode

/YOLO
/label_extractor
/VideoAnalizer/deep_sort_pytorch
/VideoAnalizer/yolor
/VideoAnalizer/yolov7

*.jpg
*.png
*.pyc
*.pdf
*.dll
*/dist/
*.pt
*/yolov7
*/yolov7_face
*.pyc
*.jpg
*.pdf
*.zip
*.pt
*.pth
*.safetensors
*/__pycache__
*.blob
OCR_application/dist
OCR_application\build\main 