/.vscode
/YoloR
/runs

data.yaml
*.png
*.ipynb

/anomaly_detection/__pycache__
/anomaly_detection/.vscode

/appTutorial
/APP_TUTORIAL

/DeepLearning_Implementation/__pycache__

/edge_pattern_detection/__pycache__
/image_processing_classicComputerVision/__pycache__
/image_processing_classicComputerVision/.vscode

/OCR_application/__pycache__
/OCR_application/.vscode