{% extends 'base.html' %}

{% block header %}
    <title>Image Upload</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='custom_cv_interface.css') }}">
<body>
    <div class="container">
        <div class="upload-section" id="UploadSection">
            <h2>Image Upload</h2>
            <form action="/uploade_image" method="POST" enctype="multipart/form-data">
                <input type="file" name="images" accept="image/*" multiple>
                <input type="submit" value="Upload">
            </form>
        </div> 
        <!-- <div class="vertical"></div> -->
        <div class="upload-section">
            <h2>Video Upload</h2>
            <form action="/upload_video" method="POST" enctype="multipart/form-data">
                <input type="file" name="video" accept="Video/*">
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    {% if uploaded_image %}
        <hr>
        <!-- <div class="container"> -->
        <form action="/process_image" method="POST" enctype="multipart/form-data" class="processing-form" id="images-process-form">
            <input type="hidden" name="images" value="{{ uploaded_image }}">
            <div class="processing-options">
                <div class="option">
                    <input type="checkbox" id="show_face" name="show_face" class="option-checkbox">
                    <label for="show_face" class="option-label">Show Face</label>
                </div>
                <div class="option">
                    <input type="checkbox" id="blur" name="blur" class="option-checkbox">
                    <label for="blur" class="option-label">Blur Face</label>
                </div>
            </div>
            <input type="submit" value="Process" class="process-button" id="submit-button-IP">
            <div id="loading-spinner" class="hidden"></div>
        </form>
     <!-- </div> -->
        <hr>
        <div class="container">
            <div id="main_results">
                <div class="slideshow-container">
                <h3>Uploaded Image: <span id="up_img_n"></span></h3>
                {%for imageup in uploaded_image %}
                    <!-- Slides -->
                    <div class="slide" id="slide"> 
                        <img class="imagetoshow" src="{{ imageup }}" alt="Uploaded Image">
                    </div>
                {% endfor %}
                <!-- Navigation arrows-->
                <a class="prev" onclick="changeSlide(0)">&#10094;</a>
                <a class="next" onclick="changeSlide(0)">&#10095;</a>
                </div>
                {% if processed_image %}
                    <div class="slideshow-container">
                        <h3>Processed Image: <span id = "procc_img_n"></span></h3>
                            {%for imgprocessed in processed_image %}
                            <!-- Slides -->
                                <div class="slide_processed" id="slide"> 
                                    <img class="imagetoshow" src="{{ imgprocessed }}" alt="Processed Image">
                                </div>
                            {% endfor %}
                        <!-- Navigation arrows-->
                        <a class="prev" onclick="changeSlideProcess(0)">&#10094;</a>
                        <a class="next" onclick="changeSlideProcess(0)">&#10095;</a>      
                    </div>
                    {%if list_of_faces%}
                        <div class="slideshow-container">
                            <h3>Single Faces: <span id = "face_n"></span></h3>
                            {%for faces in list_of_faces %}
                                <div class= "slide_faces" id="slide2">
                                    {%for face in faces %}
                                    <img class="image_count" id="face_image" src="{{ face }}" alt="Processed Face">
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %} 
                {% endif %}    
            </div>
        </div>
    {% endif %}  <!-- uploaded image condition -->

    {% if uploaded_video %}
        <hr>
        <form action="/process_video" method="POST" enctype="multipart/form-data" class="processing-form" id="video-process-form">
            <input type="hidden" name="video" value="{{ uploaded_video }}">
            <div class="processing-options">
                <div class="option">
                    <input type="checkbox" id="show_face" name="show_face" class="option-checkbox">
                    <label for="show_face" class="option-label">Show Face</label>
                </div>
                <div class="option">
                    <input type="checkbox" id="blur" name="blur" class="option-checkbox">
                    <label for="blur" class="option-label">Blur Face</label>
                </div>
                <div class="option">
                    <input type="checkbox" id="video_in_output" name="outputVideo" class="option-checkbox">
                    <label for="video_in_output" class="option-label">Output as Video</label>
                </div>
            </div>
            <input type="submit" value="Process" class="process-button" id="submit-button">
            <div id="loading-spinner" class="hidden"></div>
        </form>
        <hr>
        <div class="container">
            <div id="main_results">
                <h3>Uploaded Video:</h3>
                <video width="640" height="auto" justify-content="space-around" controls>
                    <source src="{{ uploaded_video }}" alt="Uploaded Video">
                </video>
                {% if processed_video %}
                    {% if showvideo %}
                        <h3>Uploaded Video: <button class="process-button" style="margin-left: 30px;" onclick="downloadVideo()">Download</button> </h3>
                        <video width="640" height="auto" justify-content="space-around" id ="video-processed"controls>
                            <source src="{{ processed_video }}" alt="Processed Video">
                        </video>
                    {% else %}
                        <div class="slideshow-container">
                            <h3>Processed Video Frames:<span id ="up_img_n" style="display: none;" ></span></h3>
                                {%for framep in processed_video %}
                                <!-- Slides -->
                                    <div class="slide" id="slide"> 
                                        <img class="imagetoshow"  src="{{ framep }}" alt="Processed Image">
                                    </div>
                                {% endfor %}
                            <!-- Navigation arrows-->
                            <a class="prev" onclick="changeSlide(0)">&#10094;</a>
                            <a class="next" onclick="changeSlide(0)">&#10095;</a>      
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var sessionVariable = "{{ session.user_id }}"
            if (sessionVariable){
            try {
            const VPForm = document.getElementById('video-process-form');
            const VPsubmitButton = document.getElementById('submit-button');
            const loadingSpinner = document.getElementById('loading-spinner');
            VPForm.addEventListener('submit', function(event) {
                requestfunction(event,"/process_video",VPForm,VPsubmitButton,loadingSpinner);
            
            });
        }
            catch (error){};
            try {
            const IPForm = document.getElementById('images-process-form');
            const IPsubmitButton = document.getElementById('submit-button-IP');
            const loadingSpinner = document.getElementById('loading-spinner');
            IPForm.addEventListener('submit', function(event) {
                requestfunction(event,"/process_image",IPForm,IPsubmitButton,loadingSpinner);
            });
        }
            catch (error){};
        } 
        });

        function requestfunction(event,url,form,button,spinner){
            event.preventDefault(); // Prevent the default form submission behavior
                
            button.disabled = true;
            if(spinner){
                spinner.classList.remove('hidden');
            }
            // Create a FormData object to collect the form data
            var formData = new FormData(form);

            // Send the form data to the server using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // The server-side processing is complete
                    button.disabled = false;
                    if(spinner){
                        spinner.classList.add('hidden');
                    }
                    console.log("request ended");
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                    console.log("html loaded");
                    
                }
            }
            xhr.send(formData);
        }

        var slideIndex = 0;
        var slideIndex_process = 0;
        var slideIndex_faces = 0;
        showSlides();
        showSlidesprocessed()

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("slide");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1;
            }
            slides[slideIndex - 1].style.display = "flex";
            document.getElementById("up_img_n").textContent = slides.length;
            //setTimeout(showSlides, 3000); // Change slide every 3 seconds
        }

        function showSlidesprocessed() {
            var i;
            var slides = document.getElementsByClassName("slide_processed");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex_process++;
            if (slideIndex_process > slides.length) {
                slideIndex_process = 1;
            }
            slides[slideIndex_process -1].style.display = "flex";
            document.getElementById("procc_img_n").textContent = slides.length;
            showSlidesFaces();
        }

        function showSlidesFaces() {
            var i;
            var slidesface = document.getElementsByClassName("slide_faces");
            for (i = 0; i < slidesface.length; i++) {
                slidesface[i].style.display = "none";
            }
            slideIndex_faces++;
            if (slideIndex_faces > slidesface.length) {
                slideIndex_faces = 1;
            }
            slidesface[slideIndex_faces -1].style.display = "flex";
            var number = calculate_number_visible(slidesface);
            document.getElementById("face_n").textContent = number;
            //setTimeout(showSlides, 3000); // Change slide every 3 seconds
        }

        function changeSlide(n) {
            slideIndex += n;
            showSlides();
            showSlidesprocessed();
        }

        function changeSlideProcess(n) {
            slideIndex_process += n;
            showSlides();
            showSlidesprocessed();
        }

        function calculate_number_visible(elements){
            var count = 0;
            console.log('Form submitted');
            for(var i = 0; i < elements.length; i++) {
                var toverify = elements[i];
                if (window.getComputedStyle(toverify).display == "flex"){
                    var slidesfacenumber = toverify.getElementsByClassName("image_count");
                    count = slidesfacenumber.length;
                }
            }
            return count;
        }

        function downloadVideo() {
            // Get the video element
            var video = document.getElementById("video-processed");

            // Get the source URL of the video
            var source = video.getElementsByTagName("source")[0].src;

            // Create a link element
            var link = document.createElement('a');
            link.href = source;
            link.download = "video_processed.mp4"; // Set the download filename

            // Append the link to the document and click it programmatically
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>

</body>
{% endblock %}